form action='/browser' method="POST"
  input type='text' name='cmd' placeholder='cmd'
  input type='submit' value='run'

== @results
== @err

coffee:
  
  window.SocketHelpers = ->

    this.ws = new WebSocket("ws://#{window.document.location.host}/")

    this.ws.onopen = =>
      console.log "ws open"
      this.ws.send JSON.stringify foo: "bar"

    this.ws.onmessage = (msg) ->
      data = JSON.parse msg.data
      console.dir data

    this.ws.onclose = ->
      console.log "ws closed"

    this

  $(->
    console.log "doc ready"
    window.helpers = new SocketHelpers()
    window.ws = helpers.ws
  )